includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - modules
    level: 5
    tmpDir: .phpstan.cache
